<%= provide(:title, @user.display_name) %>
<%= @user.display_name %>, <%= @user.email %>

<div class="span8">
  <% if @user.activities.any? %>
      <h3>Activities (<%= @user.activities.count %>)</h3>
      <ol class="activities">
        <%= render @activities %>
      </ol>
      <%= will_paginate @activities %>
  <% end %>
</div>