<li>
  <%= builder.label :url, "Link to additional info" %>
  <%= builder.text_field :url, placeholder: "www.activity-page.com" %>
  <%= builder.label :description, "Description of link" %>
  <%= builder.text_field :description, placeholder: "The main information page for this activity." %>
  <%= builder.check_box :_destroy %>
  <%= builder.label :_destroy, "Remove Activity Link" %>
</li>